
#cue-receiver{
    width: 80vw;
    margin: 3rem auto;
    padding: 1rem 0;

    font-size: 2rem;

    border: 2px solid black;
    border-radius: 10px;

}

.cue-receiver-active-true{


    animation-name: blink-cue;
    animation-duration: 333ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes blink-cue{
    0%{
        color: black;
        border-color: black;
        background-color: white;
    }
    50%{
        /* color: white; */
        border-color: #28bee4;
        background-color: #28bee4;
    }
    100%{
        color: black;
        border-color: black;
        background-color: white;
    }
}